PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/meubanco?schema=public"
JSON_WEB_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE3NTg0ODE4NTMsImV4cCI6MTc5MDAxNzg1MywiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6Ik1hdGhldXMiLCJTdXJuYW1lIjoiUGVyZWlyYSIsIkVtYWlsIjoibWF0aGV1c0BwZXJlaXJhLmNvbSIsIlJvbGUiOlsiTWFuYWdlciIsIlByb2plY3QgQWRtaW5pc3RyYXRvciJdfQ.dhw10OzgzzGxP1WzuPz-f779t_-vp3JGXfIBEx67Y8E
ADMIN_UID=